*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.caacupe-one-regular {
  font-family: "Caacupe two", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.caacupe-one-regular {
  font-family: "Caacupe One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
  
    background: #d4fc79; 
background: -webkit-linear-gradient(to right, #96e6a1, #d4fc79); 
background: linear-gradient(to right, #96e6a1, #d4fc79); 
/* border: 1px solid black; */
}
.container{
    min-height: 70vh;
    width: 90vw;
    background: #fc4a1a;  
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  
background: linear-gradient(to right, #f7b733, #fc4a1a); 
display: grid;
grid-template-columns: repeat(3,1fr);

border: 1px solid black;
margin: auto;
gap: 1rem;
margin-top: 2rem;
padding-top: 4rem;
}
.mk{
    border: 1px solid black;
    height: 2rem;
    background: #00F260;  
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  
background: linear-gradient(to right, #0575E6, #00F260); 
height: 80%;
margin-top: 2rem;
margin-left: 1rem;
margin-right: 1rem;
overflow: hidden;
}
    .div1{
        position: relative;
        
    }
    .div2{
        position: relative;

    }
    .div3{
        position: relative;
    }
    .div1_image{
        /* position: absolute; */
       
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 70%;
       
        
    }
      .div2_image{
        /* position: absolute; */
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 70%;
    }
      .div3_image{
        /* position: absolute; */
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 70%;
    }
    .div1:hover .div1_image{
        transform: scale(1.05);
         
  transition: all 0.3s linear;
      
    }
    .div2:hover .div2_image{
      
         transform: scale(1.05);
  transition: all 0.3s linear;
    }
    .div3:hover .div3_image{
        transform: scale(1.05);
        transition-duration: 0.3s;
       transition-property: all;
       transition-timing-function: linear;

    }
    .beach{
        border: 1px solid black;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        
        color: rgb(15, 14, 14);
        font-weight: 500;
        padding-top: 0.3rem;
       padding-bottom: 0.3rem;
       width: auto;
       font-family: "Caacupe One", sans-serif;
       background: #af7398;  
background: -webkit-linear-gradient(to right, #c1ed70, #33ceaf); 
background: linear-gradient(to right, #78ffd6, #ff74ac);
    }
   a{
    text-decoration: none;
   }
   .container1{
    display: flex;
flex-direction: row; 
justify-content: space-evenly;
height: 10%;
align-content: center;
/* border: 1px solid black; */
width: 100%;
align-items: center;
margin-top: 0.4rem;
font-family: "Caacupe two", sans-serif;
}
.image_container{
    border: 1px solid black;
    width: 2rem;
    position:relative ;
    border-radius: 40%;
}
.two_city{
    display: flex;
    flex-direction: row;
  
    gap: 1rem;
}
.span_container{
    display: flex;
    flex-direction: column;
}
.image{
    position: absolute; 
    object-fit:cover;
     object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 40%;
}
.technology{
    border: 1px solid black;
    background: linear-gradient(135deg, #7fe5f0 0%, #4cd7e6 50%, #00a8cc 100%);
}
@media(max-width:928px){
.container{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
}
@media(max-width:644px){
    .container{
        grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    }
}